# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Environment / secrets

.env
.env.local
.env.*.local
!.env.example

# .NET

**/bin/
**/obj/

# Visual Studio

.vs/
*.user
*.suo

# Node

**/node_modules/

# React build

**/build/

# IDE

.idea/
.vscode/